[phases.setup]
nixPkgs = ["python311", "python311Packages.pip"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt",
  "playwright install-deps chromium",
  "playwright install chromium"
]

[phases.start]
cmd = "python3.11 main.py"
